<h1 class="bg-red-500">Hola soy el login</h1>
<p class="mt-5 bg-cyan-500">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error ea quidem
    odio rem, iusto, asperiores possimus, labore accusantium placeat quo libero
    est aliquam commodi sint! Qui ducimus neque quo deserunt.
</p>
