<header class="bg-Mostaza-Hover mb-4 h-20">
    <nav class="flex w-full h-full">
        <div class="flex w-full max-w-96 m-auto gap-1">
            <picture class="w-1/4 flex items-center justify-center">
                <img
                    class="w-full min-w-16 max-w-28"
                    src="/assets/skol-logo.png"
                    alt="Logo de Skol Barber"
                />
            </picture>
            <div
                class="flex flex-1 items-center justify-between p-2 text-[10px]"
            >
                <a
                    class="text-Vinotinto font-semibold transition hover:text-Verde-Hover"
                    href="#"
                    >Servicios</a
                >
                <a
                    class="text-Vinotinto font-semibold transition hover:text-Verde-Hover"
                    href="#"
                    >Barberos</a
                >
                <a
                    class="text-Vinotinto font-semibold transition hover:text-Verde-Hover"
                    href="#"
                    >Registrarse</a
                >
                <a
                    class="text-Vinotinto bg-amber-50 rounded-sm p-1 font-semibold transition hover:text-Verde-Hover"
                    href="#"
                    >Iniciar Sesión</a
                >
            </div>
        </div>
    </nav>
</header>
