<header class="bg-Mostaza-Hover h-20 md:px-4 scroll-smooth">
    <nav class="flex w-full h-full xl:max-w-7xl xl:m-auto">
        <div
            class="flex justify-around w-full m-auto gap-1 sm:max-w-full md:justify-between 2xl:justify-between"
        >
            <picture
                class="w-1/4 flex items-center justify-start sm:max-w-1/6 2xl:max-w-3xs cursor-pointer"
            >
                <a href="/views">
                    <img
                        class="w-full min-w-16 max-w-28"
                        src="/assets/skol-logo.png"
                        alt="Logo de Skol Barber"
                    />
                </a>
            </picture>
            <div
                class="flex flex-1 items-center justify-between px-2 text-[10px] sm:text-base sm:px-4 md:max-w-full md:p-0 lg:px-3 lg:justify-around lg:max-w-[700px]"
            >
                <a
                    class="text-Vinotinto font-semibold rounded-sm transition hover:bg-amber-50 flex items-center px-0.5 sm:px-1 h-1/2 md:h-full"
                    href="#servicios"
                    >Servicios</a
                >
                <a
                    class="text-Vinotinto font-semibold rounded-sm transition hover:bg-amber-50 flex items-center px-0.5 sm:px-1 h-1/2 md:h-full"
                    href="#barberos"
                    >Barberos</a
                >

                <a
                    href="/views/register"
                    id="registerBtn"
                    class="text-Vinotinto font-semibold rounded-sm transition hover:bg-amber-50 flex items-center px-0.5 sm:px-1 h-1/2 md:h-full"
                    >Registrarse</a
                >
                <a
                    href="/views/dashboard"
                    id="userPanel"
                    class="text-amber-50 hidden font-semibold rounded-sm transition bg-Verde-Botella hover:text-Verde-Botella hover:bg-amber-50 flex items-center px-1 py-1 sm:py-5 sm:px-3 h-1/2"
                    >Panel de Usuario</a
                >

                <a
                    href="/views/login"
                    id="logBtn"
                    class="text-Vinotinto bg-amber-50 rounded-sm px-1 py-1 font-semibold transition hover:bg-neutral-100 sm:p-3"
                    >Iniciar Sesión</a
                >
            </div>
        </div>
    </nav>
</header>
<script src="/js/navbar.js"></script>
